= simple_form_for @race do |f|
  .form-group
    = f.input :title, placeholder: 'Race Title'
  - @race.candidates.sort_by(&:order).each do |candidate|
    .form-group
      = f.fields_for :candidates, candidate do |candidate_field|
        = candidate_field.hidden_field :order, value: candidate.order
        = candidate_field.input :name, label: candidate_label(candidate), placeholder: candidate_label(candidate), required: candidate.required_order?
  .form-group
    = f.input :expired_at, as: :date_time_picker, placeholder: 'Expired Time'
  .form-group
    = f.submit 'Start race', class: 'btn btn-primary'

:javascript
  $(function() {
    $('.form_datetime').datetimepicker({format: 'YYYY-MM-DD HH:mm:ss', sideBySide: true});
  });
