= form_for @race do |f|
  - if @race.errors.any?
    #error_explanation
      %h2= "#{pluralize(@race.errors.count, "error")} prohibited this race from being saved:"
      %ul
        - @race.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.text_field :title, placeholder: 'Title', class: 'form-control'
  .form-group
    = f.text_field :candidate_1, placeholder: 'Red', class: 'form-control'
  .form-group
    = f.text_field :candidate_2, placeholder: 'Blue', class: 'form-control'
  .form-group
    = f.submit 'Start race', class: 'btn btn-primary'
