%h1 Listing races

%table
  %thead
    %tr
      %th Title
      %th Candidate 1
      %th Candidate 2
      %th
      %th
      %th

  %tbody
    - @races.each do |race|
      %tr
        %td= race.title
        %td= race.candidate_1
        %td= race.candidate_2
        %td= link_to 'Show', race
        %td= link_to 'Destroy', race, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Race', new_race_path
