.row
  .col-md-12
    %h1 Listing races

.row
  .col-md-12
    %table.table
      %thead
        %tr
          %th Title
          %th Candidates
          %th
          %th
          %th
      %tbody
        - @races.each do |race|
          %tr
            %td= race.title
            %td
              = button_to race.candidate_1, races_vote_path(vote: { race_id: race.id, candidate: 1 }), class: 'btn btn-danger'
              = button_to race.candidate_2, races_vote_path(vote: { race_id: race.id, candidate: 2 }), class: 'btn btn-primary'
            %td= link_to 'Show', race
            -if current_user.id == race.user_id
              %td= link_to 'Destroy', race, method: :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'New Race', new_race_path, class: 'btn btn-primary'
