.row
  .race-permalink.col-md-12
    .race-owner
      = link_to user_path(@race.user.username) do
        = image_tag(@race.user.image_url, class: 'avatar')
        %strong.fullname= @race.user.fullname
      %span.username= "@#{@race.user.username}"

    %h1= @race.title

    - (1..2).each do |index|
      %p
        - if sign_in?
          %p= vote_button(@race, index)
        - else
          %b= @race.send("candidate_#{index}")
    %p
      %b= fa_icon 'clock-o', text: 'expire at'
      = @race.expired_at

    %div
      = link_to 'https://twitter.com/share', 'Tweet', {'class' => 'twitter-share-button', 'data-hashtags' => 'voterace'}
      .fb-share-button{'data-href' => request.url, 'data-layout' => 'button', 'style' => 'position: relative;top: -6px;'}

    - if sign_in? && current_user.id == @race.user_id
      %p
        = link_to @race, method: :delete, data: {confirm: :'Are you sure?'}, class: 'btn btn-danger btn-destroy' do
          = fa_icon 'trash-o', text: 'Delete this race'

:javascript
  $(share_button(document, 'twitter-wjs', '//platform.twitter.com/widgets.js'));
  $(share_button(document, 'facebook-jssdk', "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=1478398162469192"));
