.row
  .race-permalink.col-md-12
    .race-owner
      = link_to user_path(@race.user.username) do
        = image_tag(@race.user.image_url, class: 'avatar')
        %strong.fullname= @race.user.fullname
      %span.username= "@#{@race.user.username}"

    %h1= @race.title

    - (1..2).each do |index|
      %p
        - if sign_in?
          %p= vote_button(@race, index)
        - else
          %b= @race.send("candidate_#{index}")
    %p
      %b Deadline
      = @race.expired_at
      - if sign_in? && current_user.id == @race.user_id
        %p= button_to 'Destroy', @race, method: :delete, data: {confirm: :'Are you sure?'}, class: 'btn btn-danger btn-destroy'
