.row
  .col-md-12
    %h1
      = @race.title
    - if @race.voted_by?(current_user)
      %p
        %b= @race.candidate_1
        = @race.votes.count_of_candidate(1)
      %p
        %b= @race.candidate_2
        = @race.votes.count_of_candidate(2)
      %p
        %b= @race.expired_at
        = @race.expired_at
      -if current_user.id == @race.user_id
        %p= button_to 'Destroy', @race, method: :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

    = link_to 'Back', root_path
