.row
  .col-md-12
    %p#notice= notice

.row
  .col-md-12
    %h1
      = @race.title
    - if @race.voted_by?(current_user)
      %p
        %b= @race.candidate_1
        = @vote_for_candidate_1
      %p
        %b= @race.candidate_2
        = @vote_for_candidate_2
      -if current_user.id == @race.user_id
        %p= button_to 'Destroy', @race, method: :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

    = link_to 'Back', races_path
