= form_for @current_user do |f|
  - if @current_user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@current_user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @current_user.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.text_field :name, placeholder: "Pick a username", class: 'form-control'
  .form-group
    = f.text_field :email, placeholder: "Your email", class: 'form-control'
  .form-group
    = f.text_field :image_url, placeholder: "Your image url", class: 'form-control'
  .form-group
    = f.text_area :description, rows: 4, placeholder: "Introduce yourself", class: 'form-control'
  .form-group
    = f.submit 'Edit', class: 'btn btn-success'
