= simple_form_for user do |f|
  .form-group
    = f.input :username, placeholder: 'Pick a username'
  .form-group
    = f.input :fullname, placeholder: 'Your name'
  .form-group
    = f.input :email, placeholder: 'Your email'
  .form-group
    = f.input :image_url, placeholder: 'Your image url'
  .form-group
    = f.input :description, input_html: {rows: 4}, placeholder: 'Introduce yourself'
  .form-group
    - if controller.action_name == 'new'
      = f.submit 'Sign up', class: 'btn btn-success'
    - else
      = f.submit 'Edit', class: 'btn btn-success'
