.candidates
  - if sign_in?
    - if voted_candidate = current_user.voted_candidate(race)
      - vote_rate_of_1, vote_rate_of_2 = race.vote_rates

      .candidate
        .candidate-chart{style: "width: #{vote_rate_of_1}%;", class: "#{'most-voted' if vote_rate_of_1 > vote_rate_of_2}"}
          %b= "#{vote_rate_of_1}%"
          - if voted_candidate == 1
            = race.candidate_1
            = fa_icon 'check-circle-o'
          - elsif race.votable?
            %b= link_to race.candidate_1, race_votes_path(race_id: race.id, candidate_order: 1), method: :post
          - else
            = race.candidate_1
      .candidate
        .candidate-chart{style: "width: #{vote_rate_of_2}%;", class: "#{'most-voted' if vote_rate_of_1 < vote_rate_of_2}"}
          %b= "#{vote_rate_of_2}%"
          - if voted_candidate == 2
            = race.candidate_2
            = fa_icon 'check-circle-o'
          - elsif race.votable?
            %b= link_to race.candidate_2, race_votes_path(race_id: race.id, candidate_order: 2), method: :post
          - else
            = race.candidate_2
    - else
      .candidate
        - if race.votable?
          %b= link_to race.candidate_1, race_votes_path(race_id: race.id, candidate_order: 1), method: :post
        - else
          %b= race.candidate_1
      .candidate
        - if race.votable?
          %b= link_to race.candidate_2, race_votes_path(race_id: race.id, candidate_order: 2), method: :post
        - else
          %b= race.candidate_2
  - else
    .candidate
      %b= race.candidate_1
    .candidate
      %b= race.candidate_2
