.row.race-list
  .col-md-12
    %ol.list-unstyled
      - races.each do |race|
        %li
          .race
            .race-owner
              = link_to image_tag(race.user.image_url, class: 'avatar'), user_path(race.user.username)
              = link_to race.user.username, user_path(race.user.username), class: 'username'
            .race-detail
              %h2.title= link_to race.title, race
              = render partial: 'shared/candidates', locals: {race: race}
      = paginate(races)
