!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}/
    %title= @title.present? ? "#{@title} | VoteRace" : 'VoteRace'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag
    = analytics_init if GoogleAnalytics.valid_tracker?
  %body
    = render partial: 'shared/navbar'

    - if current_page?(root_path) && !signed_in?
      %header.jumbotron
        .container
          .row
            .col-md-5.col-xs-12.col-md-offset-1
              %h1.title VoteRace
              %p.copy Which one would you vote for ?
            .col-md-3.col-md-offset-1.col-xs-6.col-xs-offset-3
              %h2.title Sign in
              = form_tag signin_path, method: :post do
                .form-group
                  = text_field_tag :identifier, @identifier, class: 'form-control', placeholder: 'Username or Email'
                .form-group
                  = password_field_tag :password, '', class: 'form-control', placeholder: 'Password'
                .form-group
                  = submit_tag 'Sign in', class: 'btn btn-success submit-sign-in-button'

    .container.main-content
      - if flash[:notice]
        .row
          .col-md-12
            .alert.alert-success
              = flash[:notice]
      - if flash[:alert]
        .row
          .col-md-12
            .alert.alert-danger
              = flash[:alert]
      = yield
    %footer.container-fluid
      .container
        .row
          .col-md-12
            %p.copyright.text-center= "© #{Time.zone.now.year} VoteRace."
