!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}/
    %title VoteRace
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          .navbar-toggle
            - if sign_in?
              - if current_page?(mypage_path)
                = link_to 'Logout', logout_path
              - else
                = link_to image_tag(current_user.image_url, class: 'avatar'), mypage_path
                = link_to 'New Race', new_race_path, class: 'btn btn-primary new-race'
          = link_to 'VoteRace', root_path, class: 'navbar-brand'
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - if sign_in?
              - if current_page?(mypage_path)
                %li= link_to 'Logout', logout_path
              - else
                %li= link_to image_tag(current_user.image_url, class: 'avatar'), mypage_path
                %li= link_to 'New Race', new_race_path, class: 'btn btn-primary new-race'
            - else
              %li= link_to 'Login with Twitter', '/auth/twitter'
              %li= link_to 'Login with Facebook', '/auth/facebook'
    .container
      .row
        .col-md-12
          - if flash[:notice]
            .alert.alert-success
              = flash[:notice]
      .row
        .col-md-12
          - if flash[:alert]
            .alert.alert-danger
              = flash[:alert]
      = yield
    %footer.footer
      .container
        .row
          .col-md-12
            %p.copyright.text-center= "© #{Time.zone.now.year} VoteRace."
