!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}/
    %title Vote
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse
      .container
        .navbar-header
          = link_to 'Vote', '/races', class: 'navbar-brand'
        #navbar.navbar-right
          %ul.nav.navbar-nav
            %li
              = link_to 'Sign up', '/users/new', class: 'btn btn-success'
            %li
              = link_to 'Sign in', '/users/new', class: 'btn btn-default'
    .container
      = yield
