!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}/
    %title Vote
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          = link_to 'Vote', races_path, class: 'navbar-brand'
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - if logged_in?
              %li
                = link_to 'Logout', logout_path
            - else
              %li
                = link_to 'Login with Twitter', '/auth/twitter'
    .container
      - if flash[:notice]
        .alert.alert-success
          = flash[:notice]
      = yield
