!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}/
    %title= @title.present? ? "#{@title} | VoteRace" : 'VoteRace'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag
    = analytics_init if GoogleAnalytics.valid_tracker?
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          .navbar-toggle
            - if signed_in?
              - if current_page?(user_path(current_user.username))
                = link_to logout_path do
                  = fa_icon 'sign-out', text: 'Logout'
              - else
                = link_to image_tag(current_user.image_url, class: 'avatar'), user_path(current_user.username)
                = link_to new_race_path, class: 'btn btn-primary new-race' do
                  = fa_icon :plus, text: 'New Race'
            - else
              %li
                = link_to '/auth/twitter' do
                  = fa_icon :twitter, text: 'Login with Twitter'
              %li
                = link_to '/auth/facebook' do
                  = fa_icon :facebook, text: 'Login with Facebook'
          = link_to image_tag('voterace.jpg'), root_path, class: 'navbar-brand'
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - if signed_in?
              %li.dropdown
                = link_to '#', class: 'dropdown-toggle', 'data-toggle': 'dropdown' do
                  = image_tag(current_user.image_url, class: 'avatar')
                  .caret
                %ul.dropdown-menu
                  %li= link_to 'Your profile', user_path(current_user.username)
                  %li= link_to 'Settings', settings_path
                  %li.divider{role: 'separator'}
                  %li
                    = link_to logout_path do
                      = fa_icon 'sign-out', text: 'Logout'
              %li
                = link_to new_race_path, class: 'btn btn-primary new-race' do
                  = fa_icon :plus, text: 'New Race'

            - else
              %li
                = link_to '/auth/twitter' do
                  = fa_icon :twitter, text: 'Login with Twitter'
              %li
                = link_to '/auth/facebook' do
                  = fa_icon :facebook, text: 'Login with Facebook'

    - if current_page?(root_path) && !signed_in?
      %header.jumbotron
        .container
          %h1.title VoteRace
          %p.copy Which one would you vote for ?

    .container.main-content
      .row
        .col-md-12
          - if flash[:notice]
            .alert.alert-success
              = flash[:notice]
      .row
        .col-md-12
          - if flash[:alert]
            .alert.alert-danger
              = flash[:alert]
      = yield
    %footer.container-fluid
      .container
        .row
          .col-md-12
            %p.copyright.text-center= "© #{Time.zone.now.year} VoteRace."
